<div class="content">
    <table>
        <tr>
            <td colspan="6">
                <img src="./assets/images/sample2.jpeg" height="200" width="300">
            </td>
            <td class="form">
                <div [formGroup]="infoGroup">
                    <div>
                        <mat-label> Name </mat-label>  
                        <mat-form-field>  
                            <input matInput formControlName="name">
                        </mat-form-field>
                   </div>
                   <div>
                        <mat-label> Owner </mat-label>
                        <mat-form-field>
                            <input matInput formControlName="owner">
                        </mat-form-field>
                   </div>
                   <div>
                        <mat-label> For Sale </mat-label>
                        <mat-form-field>
                            <input matInput placeholder="Price" formControlName="price">
                        </mat-form-field>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div></div>
            </td>
            <td>
                <div class="info">
                    <button mat-raised-button color="primary" (click)="submit()">{{label}}</button>
                </div>
            </td>
        </tr>
    </table>
</div>