<mat-toolbar color="primary">
    Megacat
</mat-toolbar>
  
<nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let item of tabs"
        [routerLink]="item.route"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive"
        [cards]="cards">
      {{item.label}}
    </a>
</nav>

<router-outlet></router-outlet>