.content {
    padding: 0px;
    margin: 0px;
    float: left;
}

.content > mat-card {
    width: 25em;
    margin: 2em;
    height: 25em;
    justify-content: center;
    // text-align: center;
    img {
        padding: 2em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.name {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    justify-content: left;
}

.owner {
    font-size: large;
    text-align: left;
}

.h-line { 
    border-bottom: 3px solid black;
    width: 25em;
    padding-left: 2.5em;
    margin-bottom: 1em;
}

.buy {
    text-align: center;
    justify-content: center;
    display: flex;
}

button:active,
button:focus,
button:hover{
    color: #2e4da6;
    background: #d5dbed;
}
.line { 
    border-right: 3px solid #2e4da6;
    height: 0.5em;
}