<div>
    <div class="filter"> 
        <table>
            <tr>
                <td class="line">
                    <button mat-flat-button (click)="onStatus('sale')">
                        For Sale
                    </button>
                </td>
                <td>
                    <button mat-flat-button (click)="onStatus('sold')">
                        Sold
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="1em">
        <div class="content" fxFlex="25%" *ngFor="let card of cards">
            <mat-card *ngIf="card.Display">
                <mat-card-content>
                    <div>
                        <img src="{{card.ImageUrl}}" height="200" width="300"/>
                    </div>
                    <div>
                        <label class="name">{{card.Name}}</label>
                    </div>
                    <div class="h-line"></div>
                    <div>
                        <label class="owner">Owner: {{card.Owner}}</label>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div *ngIf="!card.isSold" class="buy">
                        <button mat-raised-button  color="primary" (click)="buy(card.Id)"> BUY {{card.Price | currency: ''}}</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>